/* Nav */
.nav {
  text-align: center;
  background-color: #0095ff;
}

/* Login / Sign in */
.App {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.Login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
}
button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
}
button:hover {
  background-color: #c5c5c5;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}

/* Bouton */
.button-container input {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-container input:hover,
.button-container input:focus {
  background-color: #07c;
}

.button-container input:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-container input:active {
  background-color: #0064bd;
  box-shadow: none;
}


/* React */

.Home {
  display: flex;
}
.home-header {
  display: flex;
}
.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

.home-menu {
  width: 20%;
  border-right: 5px;
}