/* Nav */
.nav {
  text-align: center;
  background-color: #4E5166;
  height: 40px;
}
.nav-link{
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
.Acceuil{
  position: absolute;
  top: 8px;
  left: 30%;
}
.logo-nav {
  width: 150px;
  position: absolute;
  top: -55px;
  left: 5%;
}
.login-signin-nav{
  position: absolute;
  right: 10px;
  top: 8px;
}

/* Login / Sign in */
.App {
  margin: auto;
  width: 60%;
  border: solid #a71c00 1px
  ;
  margin-top: 5rem;
  flex-direction: row;
}
.Login-logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.log-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.log-input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
}
.log-button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
}
.log-button:hover {
  background-color: #c5c5c5;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}

/* Bouton */
.button-container input {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-container input:hover,
.button-container input:focus {
  background-color: #07c;
}

.button-container input:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-container input:active {
  background-color: #0064bd;
  box-shadow: none;
}


/* React */

.Home {
  display: flex;
}
.home-header {
  display: flex;
}
.Home-logo {
  height: 40vmin;
  pointer-events: none;
}
#post_create{
  position: relative;
  top: 50px;
}
.create-Post{
  width: 80%;
}
.post-add-title{
  font-size: 20px;
  display: flex;
  justify-content: center;

}
.text-addpost{
  display: flex;
  overflow: auto;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


/* Posts */
#all-post{
  width: 80%;
}
article{
  border: solid black 1px;
}
.all-names{
  font-size: medium;
  margin-left: 10px;
}
.job{
  font-weight: bold;
  margin-left: 10px;
  font-size: 13px;
}
.posts-image{
  width: 100%;
}
.posts-text{
  padding: 10px;
  border-top: rgba(0, 0, 0, 0.551) solid 1px;
}


.like-dislike{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 15px;
  margin-right: 15px;
}
.span-like-dislike{
  margin-left: 10px;
  margin-right: 10px;
}
.thumbs {
  width: 25px;
}
.like-button, .dislike-button {
  font-size: 1rem;
  padding: 5px 10px;
  color:   #585858;
}
.disliked {
  font-weight: bold;
  color: #ec1e1e;
}
.liked {
  font-weight: bold;
  color: #1565c0;
}

.home-menu {
  width: 20%;
  border-right: 5px;
}